@font-face {
  font-family: Square Peg;
  src: url(SquarePeg-Regular.ttf);
}

@font-face {
  font-family: Antic Slab;
  src: url(AnticSlab-Regular.ttf);
}

html {
  margin-left: 10%;
  margin-right: 10%;
  background: #6d092b;
  font-family: 'Antic Slab', serif;
  color: #ECE4B7;
  background-image: url("assets/bg.png");
  background-repeat: space;
  background-attachment: fixed;
  width: auto;
}

body {
  background-color: #6d092b;
  min-height: 90%;
}

h1 {
  font-family: 'Square Peg', cursive;
  color: #Ffa205;
  font-size: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

p {
  font-size: 18px;
  line-height: normal;
  margin-right: 10%;
  margin-left: 10%;
}

/*img {
  max-width: 200px;
}*/
a {
  /*color: #Ff5472;*/
  color: #ff7a92;
  text-decoration: none;
}

main {
  min-height: 300px;
}

footer {
  margin: auto;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 5%;
  margin-bottom: 100px;
}

a:hover {
  color: #FF8811;
}

.navbar {
  padding-left: 20%;
  margin-top: 100px;
}

/*
ul {
  list-style: none;
  text-align: center;
  padding: 20px;
}*/
ul {
  list-style: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 0px;
}

li{
  list-style-image: url(./assets/bullet.png);
  margin-left: 10%;
  font-size: 18px;
}

::selection {
  color: white;
  background: orange;
}

.active {
  color: #FF8811;
}

#home {
  text-align: center;
}

/* profile */
.profile {
  border-radius: 300px;
  margin-left: 20%;
  margin-right: 5%;
}

.about_page p {
  margin-left: 30%;
}

.about_page img {
  float: left;
  margin-left: 10%;
  width: 30%;
  height: 30%;
  max-width: 200px;
}

/* galley config */
.gallery {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  /** this makes it center, all 3 of them*/
  /*  display: flex;
  flex-wrap: wrap;*/
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.gallery img {
  height: 300px;
  padding: 5px;
  transition: 0.5s;
  object-fit: cover;
  border-radius: 15px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gallery img:hover {
  transform: scale(1.02);
}

/**mobile friendly*/
@media screen and (max-width: 600px) {
  .gallery {
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .about_page img {
    height: 80%;
    max-width: 100%;
    margin-bottom: 20%;
  }

  body {
    max-width: 100%;
  }

  html {
    margin: 0;
    padding: 0;
  }
  li{
    margin-left: 0;
  }

  h1 {
    text-align: center;
  }

  p {
    margin-left: 10%;
    margin-right: 10%;
  }

  img {
    width: 80%;
    height: 80%;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    padding:0;
    margin-top: 100px;
  }
}
