@font-face {
  font-family: Square Peg;
  src: url(SquarePeg-Regular.ttf);
}

html {
  margin-left: 10%;
  margin-right: 10%;
  background: #6d092b;
  font-family: 'Antic Slab', serif;
  color: #ECE4B7;


  background-image: url("assets/bg.png");
  background-repeat: round;
  width: auto;
}

body {
  background-color: #6d092b;
  overflow:visible;
}

h1 {
  font-family: 'Square Peg', cursive;
  color: #Ffa205;
  font-size: 50px;

  margin-left: 10%;
}

p {
  font-size: 18px;
  line-height: normal;
  margin-right: 10%;
  margin-left: 10%;
}

img {
  max-width: 200px;

}

a {
  /*color: #Ff5472;*/
  color: #ff7a92;
  text-decoration: none;
}

footer {
  margin: auto;
  width: 20%;
  padding: 10px;
}

a:hover {
  color: #FF8811;
}

.navbar {
  padding-left: 20%;
}

ul {
  list-style: none;
  text-align: center;
  padding: 20px;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

::selection {
  color: white;
  background: orange;
}

.active {
  color: #FF8811;
}

/* profile */
.profile {
  border-radius: 300px;
  margin-left: 20%;
  margin-right: 5%;
}

.about_page p {
  margin-left: 30%;
}

.about_page img {
    float: left;
    margin-left: 10%;
    width: 30%;
    height: 30%;
}

/* galley config */
.gallery {
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: auto auto auto;

/*  display: block;
  position: relative;
  height: 75684.6px;

/*  margin-right: 10%;
  margin-left: 10%;*/
}

.gallery img {
  height: 200px;
  padding: 5px;
  transition: 1s;
  object-fit: cover;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.gallery img:hover {
  transform: scale(1.02);
}
